name: Sync to Hugging Face Spaces

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Hugging Face CLI
        run: |
          pip install -U "huggingface_hub[cli]" hf_transfer

      - name: Upload to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_ENABLE_HF_TRANSFER: "1" # Fast uploads
          HF_HUB_HTTP_TIMEOUT: "1000"    # High timeout for .pkl scanning
        run: |
          # Calling the CLI via 'python -m' to avoid "command not found"
          python -m huggingface_hub.commands.huggingface_cli upload \
            jacksparrow2/Bot \
            . \
            . \
            --repo-type=space \
            --token=$HF_TOKEN \
            --delete="*" \
            --exclude=".git/*"
