name: Sync to Hugging Face Spaces

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Hugging Face CLI
        run: |
          pip install -U "huggingface_hub[cli]"
          # This line adds the pip install directory to the PATH for the next steps
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Upload to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_HTTP_TIMEOUT: "1000" # High timeout for server-side file scanning
        run: |
          huggingface-cli upload \
            jacksparrow2/Bot \
            . \
            . \
            --repo-type=space \
            --token=$HF_TOKEN \
            --delete="*" \
            --exclude=".git/*"
